server {
        listen 8080;
	
	listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name localhost;

        ssl_certificate /etc/ssl/certs/bingo.crt;
        ssl_certificate_key /etc/ssl/private/bingo.key;
        ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

        location ~* /long_dummy {
            proxy_pass http://localhost:10010;
	    proxy_cache long_dummy_cache;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_cache_valid 200 301 302 304 40s;
            proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
            proxy_cache_bypass $http_upgrade;
        }

        location / {
            proxy_pass http://localhost:10010;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_cache_bypass $http_upgrade;
        }
}
